/* set awal */

:root {
    --primary: #b6895b;
    --bg: #010101;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: #fff;
}

/* Navbar */
nav.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, .8);
    border-bottom: 1px solid #513c28;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

/* navbar logo */

nav.navbar a.navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
}

nav.navbar a.navbar-logo span {
    color: var(--primary);
}

/* navbar-nav */

nav.navbar div.navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

nav.navbar div.navbar-nav a:hover {
    color: var(--primary);
}

nav.navbar div.navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s ease-in-out;
}

nav.navbar div.navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

nav.navbar div.navbar-extra a {
    color: #fff;
    margin: 0.5rem;
}

nav.navbar div.navbar-extra a:hover {
    color: var(--primary);
}

nav.navbar div.navbar-extra a#hamburger-menu {
    display: none;
}

/* Hero section */
section.hero {
    min-height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-image: url('img/bg-kopi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

section.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(1, 1, 3, 1) 8%, rgba(255, 255, 255, 0) 50% );
}

section.hero main.content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

section.hero main.content h1 {
    font-size: 5em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.5;
}

section.hero main.content h1 span {
    color: var(--primary);
}

section.hero main.content p {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    mix-blend-mode: difference;
}

section.hero main.content a.cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* about section */
section.about,
section.menu,
section.contact {
    padding: 8rem 7% 1.4rem;
}

section.about h2,
section.menu h2,
section.contact h2 {
    font-size: 2.6rem;
    margin-bottom: 3rem;
    text-align: center;
}

section.about h2 span,
section.menu h2 span,
section.contact h2 span {
    color: var(--primary);
}

section.about div.row {
    display: flex;
}

section.about div.row div.about-img {
    flex: 1 1 45rem;
}

section.about div.row div.about-img img {
    width: 100%;
}

section.about div.row div.content {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

section.about div.row div.content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

section.about div.row div.content p {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.6rem;
}

/* menu section */
section.menu h2,
section.contact h2 {
    margin-bottom: 1rem;
}

section.menu p,
section.contact p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
}

section.menu div.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}

section.menu div.row div.menu-card {
    text-align: center;
    padding-bottom: 4rem;
}

section.menu div.row div.menu-card img {
    border-radius: 50%;
    width: 80%;
}

section.menu div.row div.menu-card h3.menu-card-title {
    margin: 1rem auto 0.5rem;
}

/* contact section */
section.contact div.row {
    display: flex;
    margin-top: 2rem;
    background-color: #222;
}

section.contact div.row iframe.map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

section.contact div.row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

section.contact div.row form div.input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--bg);
    border: 1px solid #eee;
    padding-left: 2rem;
}

section.contact div.row form div.input-group input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    background: none;
    color: #fff;
}

section.contact div.row form button.btn {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--primary);
    cursor: pointer;
    border-radius: 5px;
}

/* footer */
footer {
    background-color: var(--primary);
    text-align: center;
    padding: 1rem 0 3rem;
    margin-top: 3rem;
}

footer div.socials {
    padding: 1rem 0;
}

footer div.socials a {
    color: #fff;
    margin: 1rem;
    transition: all 0.3s;
}

footer div.socials a:hover,
footer div.links a:hover {
    color: var(--bg);
}

footer div.links {
    margin-bottom: 1.4rem;
}

footer div.links a {
    color: #fff;
    padding: 0.7rem 1rem;
    transition: all 0.3s;
}

footer div.credit {
    font-size: 0.8rem;
}

footer div.credit a {
    color: var(--bg);
    font-weight: 700;
}

/* responsive */

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    nav.navbar div.navbar-extra a#hamburger-menu {
        display: inline-block;
    }

    nav.navbar div.navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }

    nav.navbar div.navbar-nav.active {
        right: 0;
    }

    nav.navbar div.navbar-nav a {
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    nav.navbar div.navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }

    nav.navbar div.navbar-nav a::after {
        transform-origin: 0 0;
    }

    section.about div.row {
        flex-wrap: wrap;
    }

    section.about div.row div.about-img img {
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }

    section.about div.row div.content {
        padding: 0;
    }

    section.about div.row div.content h3 {
        margin-top: 1rem;
        font-size: 2rem;
    }
    section.about div.row div.content p {
        font-size: 1.6rem;
    }

    section.menu p {
        font-size: 1.4rem;
    }

    section.contact div.row {
        flex-wrap: wrap;
    }

    section.contact div.row iframe.map {
        height: 30rem;
    }

    section.contact div.row form {
        padding-top: 0;
    }
}

/* Mobile phone */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}